/*-- scss:defaults --*/


/* Theme: Nord*/

$theme-bg: #242933;
$theme-fg: #E5E9F0; /* nord5 */

$theme-accent1: #5E81AC; /* nord10 */
$theme-accent2: #B48EAD; /* nord15 */
$theme-accent3: #8FBCBB; /* nord7 */
$theme-accent4: #A3BE8C; /* nord14 */
$theme-accent5: #81A1C1; /* nord9 */
$theme-accent6: #BF616A; /* nord11 */

$theme-accent7: #88C0D0; /* nord8 */



$theme-bg-lighter: #373B44;

/* Polar Night colors */
$nord0: #2E3440;
$nord1: #3B4252;
$nord2: #434C5E;
$nord3: #4C566A;

 /* Snow Storm colors */
$nord4: #D8DEE9;
$nord5: #E5E9F0;
$nord6: #ECEFF4;

/* Frost colors */
$nord7: #8FBCBB;
$nord8: #88C0D0;
$nord9: #81A1C1;
$nord10: #5E81AC;

/* Aurora colors */
$nord11: #BF616A;            /* red */
$nord12: #D08770;            /* orange */
$nord13: #EBCB8B;            /* yellow */
$nord14: #A3BE8C;            /* green */
$nord15: #B48EAD;            /* purple */
